<div class="sims-view">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="sim().name" (ngModelChange)="saveSim()" />
        <button mat-icon-button matSuffix color="warn" (click)="deleteSim()"><mat-icon>delete</mat-icon></button>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <app-achievement-selection class="col" [label]="'Traits'" [currentAchievements]="sim().traits"
      [allAchievements]="traits()" [achievementType]="AchievementType.TRAIT"
      (achievementChanged)="changeTraits($event)" />
    <app-achievement-selection class="col" [label]="'Skills'" [currentAchievements]="sim().skills"
      [allAchievements]="skills()" [achievementType]="AchievementType.SKILL"
      (achievementChanged)="changeSkills($event)" />
    <app-achievement-selection class="col" [label]="'Aspiration'" [currentAchievements]="sim().aspirations"
      [allAchievements]="aspirations()" [achievementType]="AchievementType.ASPIRATION"
      (achievementChanged)="changeAspirations($event)" />
    <app-achievement-selection class="col" [label]="'Career'" [currentAchievements]="sim().careers || []" [allowMultiple]="true"
      [allAchievements]="careers()" [achievementType]="AchievementType.CAREER"
      (achievementChanged)="changeCareers($event)" />
    <app-achievement-selection class="col" [label]="'Medal'" [currentAchievements]="sim().medals" [allowMultiple]="true"
      [allAchievements]="medals()" [achievementType]="AchievementType.MEDAL"
      (achievementChanged)="changeMedals($event)" />
      <app-achievement-selection class="col" [label]="'GameAchievements'" [currentAchievements]="sim().gameAchievements || []" [allowMultiple]="true"
      [allAchievements]="gameAchievements()" [achievementType]="AchievementType.Game"
      (achievementChanged)="changeGameAchievements($event)" />


    <app-achievement-selection class="col" [label]="'Death'" [currentAchievements]="sim().deaths || []" [allowMultiple]="true"
      [allAchievements]="deaths()" [achievementType]="AchievementType.DEATH"
      (achievementChanged)="changeDeaths($event)" />
      <app-achievement-selection class="col" [label]="'Punishments'" [currentAchievements]="sim().punishments || []" [allowMultiple]="true"
      [allAchievements]="punishments()" [achievementType]="AchievementType.PUNISHMENT"
      (achievementChanged)="changePunishments($event)" />

    <app-achievement-selection class="col" [label]="'Custom'" [currentAchievements]="sim().customAchievements || []" [allowMultiple]="true"
      [allAchievements]="customAchievements()" [achievementType]="AchievementType.CUSTOM"
      (achievementChanged)="changeCustomAchievements($event)" />
  </div>
</div>