<div>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" [(ngModel)]="sim().name" (ngModelChange)="saveSim()" />
    <button mat-icon-button matSuffix color="warn" (click)="deleteSim()"><mat-icon>delete</mat-icon></button>
  </mat-form-field>
  <div class="accordion accordion-flush" id="accordionAchievements">
    @for (type of achievementTypesMap(); track $index) {
      <app-achievement-selection [label]="type.label" [currentAchievements]="type.current"
      [allAchievements]="type.data" [achievementType]="type.type"
      (achievementChanged)="changeAchievements($event, type.type)" />
    }

  </div>
</div>