@if(saveSelected()){
<div class="d-flex flex-wrap-reverse gap-1 justify-content-center">
  <div>
    @for(generation of generations(); track generation.founder.id){
    <div class="generation">
      <h2>{{$index}} - {{generation.founder.name}}</h2>
      <div class="parents">
        <ng-container
          *ngTemplateOutlet="simTile; context: {simData: generation.founder, color: 'primary'}"></ng-container>
        @for(spouse of generation.spouse; track spouse.id) {
        <ng-container *ngTemplateOutlet="simTile; context: {simData: spouse, color: 'secondary'}"></ng-container>
        }
        <button type="button" mat-icon-button color="secondary" (click)="addSpouse(generation)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <br>

      <div class="children">
        @for(child of generation.children; track child.id) {
        <ng-container *ngTemplateOutlet="simTile; context: {simData: child, color: 'primary'}"></ng-container>
        }
        <button mat-icon-button type="button" color="primary" (click)="addChild(generation)">
          <mat-icon>add</mat-icon>
        </button>
      </div>

    </div>
    }
    @if(generations().length === 0) {
    <button type="button" mat-button color="primary" (click)="addGeneration()">Add Generation</button>
    }
  </div>

  @if(simToEdit() && sims().includes(simToEdit()!)) {
  <div class="vr"></div>
  <app-sims-view [sim]="simToEdit()!" (closed)="simToEdit.set(undefined)"></app-sims-view>
  }

</div>
<ng-template #simTile let-simData="simData" let-color="color">
  <button type="button" class="btn" [ngClass]="'btn-outline-' + color" [attr.aria-label]="'Edit '+ simData.name"
    (click)="editSim(simData)">
    {{simData.name || simData.id}}
  </button>

</ng-template>
}