<div class="content">
  @if(simToEdit() && sims().includes(simToEdit()!)) {
  
  <app-sims-view [sim]="simToEdit()!"></app-sims-view>
  }
  <div>
    @for(generation of generations(); track generation.founder.id){
    <div class="generation">
      <h2>{{$index}} - {{generation.founder.name}}</h2>
      <div class="parents">
        <ng-container *ngTemplateOutlet="simTile; context: {simData: generation.founder}"></ng-container>
        @for(spouse of generation.spouse; track spouse.id) {
        <ng-container *ngTemplateOutlet="simTile; context: {simData: spouse}"></ng-container>
        }
        <button type="button" mat-icon-button color="primary" (click)="addSpouse(generation)">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="children">
        @for(child of generation.children; track child.id) {
        @if(generation.heir === child?.id) {
        <div style="background-color: lightcoral;">
          <ng-container *ngTemplateOutlet="simTile; context: {simData: child}"></ng-container>
        </div>
        }
        @else {
        <ng-container *ngTemplateOutlet="simTile; context: {simData: child}"></ng-container>
        <button mat-icon-button type="button" color="primary" (click)="markHeir(generation, child.id)">
            <mat-icon>edit</mat-icon>
          </button>
        }

        }
        <button mat-icon-button type="button" color="primary" (click)="addChild(generation)">
          <mat-icon>add</mat-icon>
        </button>
      </div>

    </div>
    }
    @if(generations().length === 0) {
    <button type="button" mat-button color="primary" (click)="addGeneration()">Add Generation</button>
    }
  </div>

</div>
<ng-template #simTile let-simData="simData">
  <button type="button" mat-button color="primary" [attr.aria-label]="'Edit '+ simData.name" (click)="editSim(simData)">
    {{simData.name || simData.id}}
  </button>

</ng-template>