<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ currentName() || 'Game Save' }}
    </button>
    @if(currentSave()) {
         <button mat-icon-button matSuffix color="warn" (click)="deleteSave()"><mat-icon>delete</mat-icon></button>
    }
    <ul class="dropdown-menu">
        @for (item of saves(); track $index) {
        <li (click)="selectSave(item)"><a class="dropdown-item" href="#">{{ item | saveName }}</a></li>
        }
        <li>
            <hr class="dropdown-divider">
        </li>
        <li (click)="addSave()"><a class="dropdown-item" href="#">Add save</a></li>

    </ul>
</div>